<div id="artistLabelServices" class="section bg_black pp-scrollable">
    <div class="container-fluid pl-0 pr-0">

        <div class="about2">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 headerArtistLabelServicesSection d-block flex-column" id="headerArtistLabelServicesSection">
                        <div class="d-block text-center pt-lg-5 pt-md-5">
                            <img alt="" class="upStream" src="demainWeArt/images/logo/upstream.png">
                        </div>

                        <div class="d-block logoDemainContainer">
                            <a href="{{ path('home_demainWeArt') }}"><img alt="" class="logoDemain" src="demainWeArt/images/logo/logo-demain.png"></a>
                        </div>



                        <div class="text-center text-white mt-lg-5 mt-sm-2 container col-12 col-lg-7 col-md-7">
                            <h2 class="titreArtistLabelServicesMenu text-center">ARTIST LABEL STUDIOS</h2>
                            <p class="text-center descriptifArtistLabelServicesMenu pt-3">
                                Le Lorem Ipsum est simplement du faux texte employé
                                dans la composition et la mise en page avant impression.
                                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les
                                années 1500, quand un.
                            </p>
                            <div class="text-center pt-4" >
                                <button type="button" id="moreArtistLabelServicesStudios" class="btn btn-light">En savoir plus</button>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12 col-lg-12 menuArtistLabelServicesSection" id="ArtistLabelServices">
                        <div class="about_myself pb_60 pr-sm-5 pl-sm-5">
                            <!--	Start Title
                            ================================-->
                            {#                                    <div class="main_title my_60">#}
                            {#                                        <h2 class="title color_white">About Me</h2>#}
                            {#                                        <p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>#}
                            {#                                    </div>#}
                            <!--	End Title
                            ================================-->
                            <div class="row pt-5">
                                <div class="hauteurSousCat"></div>

                                <div class="menuSousCat col-md-3 col-lg-3">
                                    <div class="myself color_secondery menu" style="min-width: 337px; max-width: 337px">
                                        <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                        <div id="currentArtistLabelServices" class="rotating menuColorRose"></div>
                                        <a href="#homePage"><h2  id="menuHome" class="menuColorBlanc">HOME</h2></a>
                                        <a href="#recordingPage"><h2  id="menuRecording" class="menuColorViolet">RECORDING STUDIOS</h2></a>
                                        <h2  id="menuArtistLabelServices" class="menuColorRose">ARTIST & LABEL SERVICES</h2>
                                        <a href="#training"><h2  id="menuTraining" class="menuColorOrange">TRAINING</h2></a>
                                        <a href="#events"><h2 id="menuEvent" class="menuColorRouge">EVENTS</h2></a>
                                        <h2 class="menuColorBlanc">PARTENAIRES</h2>
                                        <h2 class="menuColorBlanc">CONTACT</h2>
                                        <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                    </div>
                                </div>

                                <div class="md-pr-1 col-md-12 col-lg-9 col-sm-12">
                                    <div class="personal_info color_lightgray bg_transparent">
                                        <div class="accordion bg_transparent" id="artistLabelServicesCollapse">
                                            <div style="border: transparent;" class="card bg_transparent">




                                                <!-- ------------------------CREATION---------------------- -->

                                                <div style="border: transparent;" class="card-header bg_transparent" id="creationCollapseLabel">
                                                    <h2 class="container-buttonSousCat">
                                                        <button class="text-left bg_transparent text-white pl-3 buttonSousCatRose" type="button" data-toggle="collapse" data-target="#creationCollapse" aria-expanded="true" aria-controls="creationCollapse">
                                                            SERVICES
                                                        </button>
                                                    </h2>
                                                </div>


                                                <div style="border: transparent" id="creationCollapse" class="bg_transparent collapse hidden" data-parent="#artistLabelServicesCollapse" aria-labelledby="creationCollapseLabel" >
                                                    <div class="card-body" style="border: transparent;padding-left: 85px">
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pré-production</p></div>
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Recording</p></div>
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mix</p></div>
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mastering</p></div>
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Post Production AV</p></div>
                                                        <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Traning</p></div>
                                                    </div>
                                                </div>

                                                <!-- ------------------------PRODUCTION & SUPPORTS---------------------- -->

                                                <div style="border: transparent;" class="card-header bg_transparent" id="productionSupportCollapseLabel">
                                                    <h2 class="container-buttonSousCat">
                                                        <button class="text-left bg_transparent text-white pl-3 buttonSousCatMarron" type="button" data-toggle="collapse" data-target="#productionSupportCollapse" aria-expanded="true" aria-controls="productionSupportCollapse">
                                                            PRODUCTION & SUPPORTS
                                                        </button>
                                                    </h2>
                                                </div>


                                                <div style="border: transparent" id="productionSupportCollapse" class="bg_transparent collapse hidden" data-parent="#artistLabelServicesCollapse" aria-labelledby="productionSupportCollapseLabel" >
                                                    <div class="card-body" style="border: transparent;padding-left: 85px">
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pré-production</p></div>
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Recording</p></div>
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mix</p></div>
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mastering</p></div>
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Post Production AV</p></div>
                                                        <div><i class="menuColorMarron d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Traning</p></div>
                                                    </div>
                                                </div>

                                                <!-- ------------------------MARKETING---------------------- -->

                                                <div style="border: transparent;" class="card-header bg_transparent" id="marketingCollapseLabel">
                                                    <h2 class="container-buttonSousCat">
                                                        <button class="text-left bg_transparent text-white pl-3 buttonSousCatRoseClaire" type="button" data-toggle="collapse" data-target="#marketingCollapse" aria-expanded="true" aria-controls="marketingCollapse">
                                                            MARKETING
                                                        </button>
                                                    </h2>
                                                </div>


                                                <div style="border: transparent" id="marketingCollapse" class="bg_transparent collapse hidden" data-parent="#artistLabelServicesCollapse" aria-labelledby="marketingCollapseLabel" >
                                                    <div class="card-body" style="border: transparent;padding-left: 85px">
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pré-production</p></div>
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Recording</p></div>
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mix</p></div>
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mastering</p></div>
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Post Production AV</p></div>
                                                        <div><i class="menuColorRoseClaire d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Traning</p></div>
                                                    </div>
                                                </div>

                                                <!-- ------------------------DIFFUSION---------------------- -->

                                                <div style="border: transparent;" class="card-header bg_transparent" id="diffusionCollapseLabel">
                                                    <h2 class="container-buttonSousCat">
                                                        <button class="text-left bg_transparent text-white pl-3 buttonSousCatBeige" type="button" data-toggle="collapse" data-target="#diffusionCollapse" aria-expanded="true" aria-controls="diffusionCollapse">
                                                            DIFFUSION
                                                        </button>
                                                    </h2>
                                                </div>


                                                <div style="border: transparent" id="diffusionCollapse" class="bg_transparent collapse hidden" data-parent="#artistLabelServicesCollapse" aria-labelledby="diffusionCollapseLabel" >
                                                    <div class="card-body" style="border: transparent;padding-left: 85px">
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pré-production</p></div>
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Recording</p></div>
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mix</p></div>
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mastering</p></div>
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Post Production AV</p></div>
                                                        <div><i class="menuColorBeige d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Traning</p></div>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>