
<div id="slider" class="section bg_white">
    {#        <div class="line-container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-3 col-lg-3"><div class="liner"></div></div>#}
    {#                <div class="col-md-3 col-lg-3"><div class="liner"></div></div>#}
    {#                <div class="col-md-3 col-lg-3"><div class="liner"></div></div>#}
    {#                <div class="col-md-3 col-lg-3"><div class="liner"></div></div>#}
    {#            </div>#}
    {#        </div>#}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        {#            <ol class="carousel-indicators">#}
        {#                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
        {#                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
        {#                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
        {#            </ol>#}
        <div class="carousel-inner overlay_three">
            <div class="carousel-item active">
                <div class="overlay_one pattan"><img  class="" src="demainWeArt/images/slider/fond_home_imLyon.jpg" alt="slide image"></div>
                <div class="carousel-caption text-center fontAvenirDemi">
                    <img alt="" class="" src="demainWeArt/images/logo/upstream.png" style="width: 139px; height: 28px">
                    <br>
                    <a href="/"><img alt="" class="logoDemainHome mt_100" src="demainWeArt/images/logo/logo-demain.png"></a>
                    <a href="#recordingPage">
                        <div class="recordingMenu text-center">
                            <p class="text-center textHomeMenu textHomeMenuRecording">RECORDING STUDIOS</p>
                        </div>
                    </a>
                    <a href="#artistLabelServices">
                        <div class="artistMenu text-center">
                            <p class="text-center textHomeMenu">ARTIST & LABEL SERVICES</p>
                        </div>
                    </a>
                    <a href="#training">
                        <div class="trainingMenu text-center">
                            <p class="text-center textHomeMenu textHomeMenuFormationTraining">FORMATION & TRAINING</p>
                        </div>
                    </a>
                    <a href="#events">
                        <div class="eventsMenu text-center">
                            <p class="text-center textHomeMenu">EVENTS</p>
                        </div>
                    </a>
                    {#                        <h1 class="mb_20">Awesome solution<br> for <span class="color_default">you Business</span></h1>#}
                    {#                        <p class="mb_20">Risus faucibus mollis velit sollicitudin consequat inceptos dictum. Cras quis amet dui inceptos varius, faucibus bibendum fringilla sodales mauris tortor lacus vitae sagittis consequat dapibus consequat justo nostra.</p>#}
                    {#                        <a class="btn btn-default" href="#">Start a Project</a>#}
                </div>
            </div>
            {#                <div class="carousel-item">#}
            {#                    <div class="overlay_one pattan"><img src="images/slider/02.jpg" alt="slide image"></div>#}
            {#                    <div class="carousel-caption">#}
            {#                        <h1 class="mb_20">Awesome solution<br> for <span class="color_default">you Business</span></h1>#}
            {#                        <p class="mb_20">Risus faucibus mollis velit sollicitudin consequat inceptos dictum. Cras quis amet dui inceptos varius, faucibus bibendum fringilla sodales mauris tortor lacus vitae sagittis consequat dapibus consequat justo nostra.</p>#}
            {#                        <a class="btn btn-default" href="#">Start a Project</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="carousel-item">#}
            {#                    <div class="overlay_one pattan"><img src="images/slider/03.jpg" alt="slide image"></div>#}
            {#                    <div class="carousel-caption">#}
            {#                        <h1 class="mb_20">Awesome solution<br> for <span class="color_default">you Business</span></h1>#}
            {#                        <p class="mb_20">Risus faucibus mollis velit sollicitudin consequat inceptos dictum. Cras quis amet dui inceptos varius, faucibus bibendum fringilla sodales mauris tortor lacus vitae sagittis consequat dapibus consequat justo nostra.</p>#}
            {#                        <a class="btn btn-default" href="#">Start a Project</a>#}
            {#                    </div>#}
            {#                </div>#}
        </div>
    </div>
</div>