<div class="menuSousCat col-md-3 col-lg-3">
    <div class="myself color_secondery menu" style="min-width: 337px; max-width: 337px">
        <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
        <a href="#homePage"><h2  id="menuHome" class="menuColorBlanc">HOME</h2></a>
        <a href="#recordingPage"><h2  id="menuRecording" class="menuColorViolet">RECORDING STUDIOS</h2></a>
        <a href="#artistLabelServices"><h2  id="menuArtistLabelServices" class="menuColorRose">ARTIST & LABEL SERVICES</h2></a>
        <a href="#training"><h2  id="menuTraining" class="menuColorOrange">TRAINING</h2></a>
        <a href="#events"><h2 id="menuEvent" class="menuColorRouge">EVENTS</h2></a>
        <a href="{{ path('page_partenaires') }}"><h2 class="menuColorBlanc">PARTENAIRES</h2></a>
        <h2 class="menuColorBlanc">CONTACT</h2>
        <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
    </div>
</div>