<div id="recordingPage" class="section bg_black pp-scrollable">
    <div class="container-fluid pl-0 pr-0">

            <div class="about2 ddd">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 headerAboutSection" id="headerAboutSection">
                            <img alt="" class="mt_60 upStream d-block" src="demainWeArt/images/logo/upstream.png">

                            <a href="{{ path('home_demainWeArt') }}"><img alt="" class="logoDemain mt_100 d-block" src="demainWeArt/images/logo/logo-demain.png"></a>



                            <i id="arrowDown" class="fa fa-arrow-down fa-5x text-white" aria-hidden="true" style="position: absolute; bottom: 3px"></i>
                        </div>
                        <div class="col-md-12 col-lg-12 menuRecordingSection" id="sectionRecording">
                            <div class="about_myself pb_60">
                                <!--	Start Title
                                ================================-->
                                {#                                    <div class="main_title my_60">#}
                                {#                                        <h2 class="title color_white">About Me</h2>#}
                                {#                                        <p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>#}
                                {#                                    </div>#}
                                <!--	End Title
                                ================================-->
                                <div class="row pt-5">
                                    <div class="menuSousCat col-md-3 col-lg-3">
                                        <div class="myself color_secondery menu" style="min-width: 337px; max-width: 337px">
                                            <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                            <a href="/"><h2 class="menuColorBlanc">HOME</h2></a>
                                            <a href="#page2"><h2 class="menuColorViolet">RECORDING STUDIOS</h2></a>
                                            <a href="#page3"><h2 class="menuColorRose">ARTIST & LABEL SERVICES</h2></a>
                                            <h2 class="menuColorOrange">TRAINING</h2>
                                            <h2 class="menuColorRouge">EVENTS</h2>
                                            <h2 class="menuColorBlanc">PARTANAIRES</h2>
                                            <h2 class="menuColorBlanc">CONTACT</h2>
                                            <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                        </div>
                                    </div>
                                    <div class="md-pr-1 col-md-12 col-lg-9 col-sm-12">
                                        <div class="personal_info color_lightgray bg_transparent">
                                            <div class="accordion bg_transparent" id="recordingCollapse">
                                                <div style="border: transparent;" class="card bg_transparent">


                                                    <!-- ------------------------TEAM---------------------- -->
                                                    <div style="border: transparent;" class="card-header bg_transparent" id="teamCollapseLabel">
                                                        <h2 class="container-buttonSousCat">
                                                            <button class="text-left bg_transparent text-white pl-3 buttonSousCatViolet" type="button" data-toggle="collapse" data-target="#teamCollapse" aria-expanded="true" aria-controls="collapseOne">
                                                                TEAM
                                                            </button>
                                                        </h2>
                                                    </div>

                                                    <div style="border: transparent" id="teamCollapse" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="teamCollapseLabel">
                                                        <div class="card-body pr-5" style="border: transparent;">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="price_table">
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bulleTeam">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bulleTeam">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">

                                                                                <div class="table text-center bg_deepblack color_secondery bulleTeam">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bulleTeam">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bulleTeam">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- ------------------------SERVICES---------------------- -->

                                                    <div style="border: transparent;" class="card-header bg_transparent" id="servicesCollapseLabel">
                                                        <h2 class="container-buttonSousCat">
                                                            <button class="text-left bg_transparent text-white pl-3 buttonSousCatRose" type="button" data-toggle="collapse" data-target="#servicesCollapse" aria-expanded="true" aria-controls="servicesCollapse">
                                                                SERVICES
                                                            </button>
                                                        </h2>
                                                    </div>


                                                    <div style="border: transparent" id="servicesCollapse" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="servicesCollapseLabel" >
                                                        <div class="card-body" style="border: transparent;">
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pré-production</p></div>
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Recording</p></div>
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mix</p></div>
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Mastering</p></div>
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Post Production AV</p></div>
                                                            <div><i class="menuColorRose d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Traning</p></div>
                                                        </div>
                                                    </div>

                                                    <!-- ------------------------EQUIPEMENTS---------------------- -->


                                                    <div style="border: transparent;" class="card-header bg_transparent" id="equipementsCollapseLabel">
                                                        <h2 class="container-buttonSousCat">
                                                            <button class="text-left bg_transparent text-white pl-3 buttonSousCatGris" type="button" data-toggle="collapse" data-target="#equipementsCollapse" aria-expanded="true" aria-controls="equipementsCollapse">
                                                                EQUIPEMENTS
                                                            </button>
                                                        </h2>
                                                    </div>


                                                    <div style="border: transparent" id="equipementsCollapse" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="equipementsCollapseLabel" >
                                                        <div class="card-body" style="border: transparent;">
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Processing</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Monitoring</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Pérriphérique Analogiques</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Microphones</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Instruments</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Plungins Divers</p></div>
                                                            <div><i class="menuColorGris d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline"> Plugins Audio</p></div>                                                       </div>
                                                    </div>

                                                    <!-- ------------------------PACKS---------------------- -->


                                                    <div style="border: transparent;" class="card-header bg_transparent" id="packsCollapseLabel">
                                                        <h2 class="container-buttonSousCat">
                                                            <button class="text-left bg_transparent text-white pl-3 buttonSousCatVioletFonce" type="button" data-toggle="collapse" data-target="#packsCollapse" aria-expanded="true" aria-controls="packsCollapse">
                                                                PACKS
                                                            </button>
                                                        </h2>
                                                    </div>


                                                    <div style="border: transparent" id="packsCollapse" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="packsCollapseLabel" >
                                                        <div class="card-body pr-5" style="border: transparent;">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="price_table">
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bullePack">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bullePack">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">

                                                                                <div class="table text-center bg_deepblack color_secondery bullePack">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bullePack">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-lg-3">
                                                                                <div class="table text-center bg_deepblack color_secondery bullePack">
                                                                                    <h1 class="color_default font-weight-bold">{#<sup>I</sup> #}Igoom</h1>
                                                                                    <h5 class="color_lightgray">'BEATMAKER'</h5>
                                                                                    <div class="list">
                                                                                        <ul>
                                                                                            <li>'BEATMAKER'</li>
                                                                                            <li>REALISATEUR ARTISTIQUE</li>
                                                                                            <li>MUSIC PRODUCER</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>