{% extends 'admin/base.html.twig' %}

{% block body %}
    <!-- TITRE -->
<div class="card">
    <div class="header">
        <h4 class="title">Vous êtes sur l'administration de la <span class="text-danger">Newsletter</span></h4>
    </div>
</div>

<div class="card">
    <h4 class="text-info">Nombre d'inscrit à la newsletter : {{ nbBreInscrit|length }}</h4>
</div>

<div class="card">
    <h4 class="text-info">Envoyer une newsletter</h4>
    <p>adadada</p>
</div>

{% endblock %}