{% extends 'admin/base.html.twig' %}

{% block body %}
    <!-- TITRE -->
<div class="card">
    <div class="header">
        <h4 class="title">Vous êtes sur l'administration de la <span class="text-danger">Newsletter</span></h4>
    </div>
</div>

<div class="card">
    <h4 class="text-info">Quelle section du site voulez vous administrer ?</h4>
</div>

{% endblock %}