/* Menu Couleurs */
.menuColorViolet{
    color: #662383;
}
.menuColorRose{
    color: #B34575;
}
.menuColorOrange{
    color: #F05A23;
}
.menuColorBlanc{
    color: #FFFFFF;
}
.menuColorRouge{
    color: #EC1C23;
}
.menuColorGris{
    color: #5A3E62;
}
.menuColorVioletFonce{
    color: #4B0754;
}
.menuColorMarron{
    color: #834960;
}
.menuColorRoseClaire{
    color: #FF7AAC;
}
.menuColorBeige{
    color: #B39394;
}
.menuColorRoseJaune{
    color: #F39200;
}
.menuColorRosePale{
    color: #E69F87;
}
.menuColorOrangePale{
    color: #C59C6C;
}



/* Buttons Couleurs */
.buttonSousCatViolet{
    background-color: #662383;
}
.buttonSousCatRose{
    background-color: #B34575;
}
.buttonSousCatGris{
    background-color: #5A3E62;
}
.buttonSousCatVioletFonce{
    background-color: #4B0754;
}
.buttonSousCatMarron{
    background-color: #834960;
}
.buttonSousCatRoseClaire{
    background-color: #FF7AAC;
}
.buttonSousCatBeige{
    background-color: #B39394;
}
.buttonSousCatOrange{
    background-color: #F05A23;
}
.buttonSousCatJaune{
    background-color: #F39200;
}
.buttonSousCatRosePale{
    background-color: #E69F87;
}
.buttonSousCatOrangePale{
    background-color: #C59C6C;
}
.buttonSousCatRouge{
    background-color: #EC1C23;
}