/* Couleurs  Textes*/
.Violet{
    color: #662383!important;
}
.Rose{
    color: #B34575!important;
}
.Orange{
    color: #F05A23!important;
}
.Blanc{
    color: #FFFFFF!important;
}
.Rouge{
    color: #EC1C23!important;
}
.Gris{
    color: #5A3E62!important;
}
.VioletFonce{
    color: #4B0754!important;
}
.Marron{
    color: #834960!important;
}
.RoseClaire{
    color: #FF7AAC!important;
}
.Beige{
    color: #B39394!important;
}
.Jaune{
    color: #F39200!important;
}
.RosePale{
    color: #E69F87!important;
}
.OrangePale{
    color: #C59C6C!important;
}



/* Background Couleurs */
.bgViolet{
    background-color: #662383 !important;
}
.bgRose{
    background-color: #B34575 !important;
}
.bgGris{
    background-color: #5A3E62 !important;
}
.bgVioletFonce{
    background-color: #4B0754 !important;
}
.bgMarron{
    background-color: #834960 !important;
}
.bgRoseClaire{
    background-color: #FF7AAC !important;
}
.bgBeige{
    background-color: #B39394 !important;
}
.bgOrange{
    background-color: #F05A23 !important;
}
.bgJaune{
    background-color: #F39200 !important;
}
.bgRosePale{
    background-color: #E69F87 !important;
}
.bgOrangePale{
    background-color: #C59C6C !important;
}
.bgRouge{
    background-color: #EC1C23 !important;
}