
.buttonEnSavoirPlus{
    position: fixed;
    bottom: 45px;
    left: 45%;
    border-radius: 17px;
    opacity: 1;

}
.buttonEnSavoirPlus:hover{
    transition-duration: 1.3s;
    opacity: 0.6;
}
.infosHeader{
    padding-top: 130px;
    padding-bottom: 40px;
    line-height: 38px;
}
/* RECORDING SECTION
-------------------------------> */
.backgroundRecordingStudioTitre{
    position: fixed;
    background: url('/demainWeArt/images/homeMenu/recording.png') no-repeat center / cover;
    height:65px;
    width: 100%;
    top: 378px;
    left: 0;
}
.headerRecordingSection .upStream{
    width: 139px;
    height: 28px;
    margin-top: -215px;
}

.titreRecordingMenu{
    font-size: 45px;
    text-align: center;
    margin-left: -152px !important;
    padding-left: 0 !important;
}

.headerRecordingSection .containerHeaderAbout{
    margin-top: 30px;
}

.headerRecordingSection{
    background: url("../../demainWeArt/images/backgroundsSections/background-recording.jpg") no-repeat center / cover;
    height: 100vh;
}

.menuRecordingSection{
    height: 100%;
    display: none;
    background: url("../../demainWeArt/images/backgroundsSections/background-recording-section.jpg") no-repeat center / cover;
}
.footerRecordingSection{
    display: none;
    margin-top: 150px;

    width: 100%;
}

.headerRecordingSection .logoDemain{
    width: 332px;
    height: 89px;
    object-fit: fill;
}
.descriptifRecordingMenu{
    position: fixed;
    right: 0;
    width: 60%;
    border-radius: 30px 0 0 30px;

    background-color: rgba(140, 69, 117, .9);
}

/* ARTISTLABELSERVICES SECTION
-------------------------------> */
.backgroundArtisteLabelServicesTitre{
    position: fixed;
    opacity: 0.7;
    background: url('/demainWeArt/images/homeMenu/artist.png') no-repeat center / cover;
    height:65px;
    width: 100%;
    top: 378px;
    left: 0;
}
.headerArtistLabelServicesSection .upStream{
    width: 139px;
    height: 28px;
    margin-top: -215px;
}

.titreArtistLabelServicesMenu{
    font-size: 45px;
    text-align: center;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.headerArtistLabelServicesSection .containerHeaderAbout{
    margin-top: 30px;
}

.headerArtistLabelServicesSection{
    background: url("../../demainWeArt/images/backgroundsSections/background-label.jpg") no-repeat center / cover;
    height: 100vh;
}

.menuArtistLabelServicesSection{
    height: 100%;
    display: none;
    background: url("../../demainWeArt/images/backgroundsSections/background-label-section.jpg") no-repeat center / cover;
}
.footerRecordingSection{
    display: none;
    margin-top: 150px;

    width: 100%;
}

.headerArtistLabelServicesSection .logoDemain{
    width: 332px;
    height: 89px;
    object-fit: fill;
}
.descriptifArtistLabelServicesMenu{
    border-radius: 30px;
    background-color: rgba(179, 69, 117, .6);
}

/* TRAINING SECTION
-------------------------------> */
.backgroundTrainingTitre{
    position: fixed;
    background: url('/demainWeArt/images/homeMenu/training.png') no-repeat center / cover;
    height:65px;
    width: 100%;
    top: 378px;
    left: 0;
}
.headerTrainingSection .upStream{
    width: 139px;
    height: 28px;
    margin-top: -215px;
}

.titreTrainingMenu{
    font-size: 45px;
    text-align: center;
    margin-left: -226px !important;
    padding-left: 0 !important;
}

.headerTrainingSection .containerHeaderAbout{
    margin-top: 30px;
}

.headerTrainingSection{
    background: url("../../demainWeArt/images/backgroundsSections/background-training.jpg") no-repeat center / cover;
    height: 100vh;
}

.menuTrainingSection{
    height: 100%;
    display: none;
    background: url("../../demainWeArt/images/backgroundsSections/background-training-section.jpg") no-repeat center / cover;
}
.footerTrainingSection{
    display: none;
    margin-top: 150px;

    width: 100%;
}

.headerTrainingSection .logoDemain{
    width: 332px;
    height: 89px;
    object-fit: fill;
}
.descriptifTrainingMenu{
    border-radius: 30px;
    background-color: rgba(240, 90, 35, .6);
}

/* EVENTS SECTION
-------------------------------> */
.headerEventsSection .upStream{
    width: 139px;
    height: 28px;
    margin-top: -215px;
}

.titreEventsMenu{
    font-size: 45px;
    text-align: center;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.headerEventsSection .containerHeaderAbout{
    margin-top: 30px;
}

.headerEventsSection{
    background: url("../../demainWeArt/images/backgroundsSections/background-events.jpg") no-repeat center / cover;
    height: 100vh;
}

.menuEventsSection{
    height: 100%;
    display: none;
    background: url("../../demainWeArt/images/backgroundsSections/background-events-section.jpg") no-repeat center / cover;
}
.footerEventsSection{
    display: none;
    margin-top: 150px;

    width: 100%;
}

.headerEventsSection .logoDemain{
    width: 332px;
    height: 89px;
    object-fit: fill;
}
.descriptifEventsMenu{
    border-radius: 30px;
    background-color: rgba(236, 28, 35, .6);
}





@media (max-width: 991px){
    /* RECORDING SECTION
-------------------------------> */
    .backgroundRecordingStudioTitre{
        display: none;
    }
    .backgroundArtisteLabelServicesTitre{
        display: none;
    }
    .backgroundTrainingTitre{
        display: none;
    }
    .upStream{
        display: none;
    }
    .titreRecordingMenu{
        padding-top: 15px;
        margin-left: 0 !important;
    }
    /* ARTISTLABELSERVICES SECTION
-------------------------------> */
    .titreArtistLabelServicesMenu{
        padding-top: 15px;
        margin-left: 0 !important;
    }
    /* TRAINING SECTION
-------------------------------> */
    .titreTrainingMenu{
        padding-top: 15px;
        margin-left: 0 !important;
    }
    /* EVENTS SECTION
-------------------------------> */
    .titreEventsMenu{
        padding-top: 15px;
        margin-left: 0 !important;
    }
}



/*
// Small devices (landscape phones, 576px and up)
============================================================*/
@media (max-width: 767px){
    /* RECORDING SECTION
-------------------------------> */
    .infosHeader{
        padding-top: 1px;
        padding-bottom: 1px;
        line-height: 38px;
    }
    .titreRecordingMenu{
        margin-top: 0;
    }
    .headerRecordingSection .upStream{
        width: 100px;
        height: 22px;
        margin-top: 35px;
        display: none;
    }
    .headerRecordingSection .containerHeaderAbout{
        margin-top: 60px;
    }
    .headerRecordingSection .logoDemain{
        width: 201px;
        height: 51px;
        object-fit: fill;
    }
    /* ARTISTLABELSERVICES SECTION
-------------------------------> */
    .titreArtistLabelServicesMenu{
        margin-top: 0;
    }
    .headerArtistLabelServicesSection .upStream{
        width: 100px;
        height: 22px;
        margin-top: 35px;
        display: none;
    }
    .headerArtistLabelServicesSection .containerHeaderAbout{
        margin-top: 60px;
    }
    .headerArtistLabelServicesSection .logoDemain{
        width: 201px;
        height: 51px;
        object-fit: fill;
    }
    /* TRAINING SECTION
-------------------------------> */
    .titreTrainingMenu{
        margin-top: 0;
    }
    .headerTrainingSection .upStream{
        width: 100px;
        height: 22px;
        margin-top: 35px;
        display: none;
    }
    .headerTrainingSection .containerHeaderAbout{
        margin-top: 60px;
    }
    .headerTrainingSection .logoDemain{
        width: 201px;
        height: 51px;
        object-fit: fill;
    }
    /* EVENTS SECTION
-------------------------------> */
    .titreEventsMenu{
        margin-top: 0;
    }
    .headerEventsSection .upStream{
        width: 100px;
        height: 22px;
        margin-top: 35px;
        display: none;
    }
    .headerEventsSection .containerHeaderAbout{
        margin-top: 60px;
    }
    .headerEventsSection .logoDemain{
        width: 201px;
        height: 51px;
        object-fit: fill;
    }
}

/*
// Extra small devices (portrait phones, less than 576px)
============================================================*/
@media (max-width: 575px){

}

/*
//  (320x480) iPhone (Original, 3G, 3GS)
============================================================*/
@media (max-width: 480px){

}